body {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #000;
    font-family: 'Nova Oval', cursive;
}

header {
    color: rgba(13, 211, 13, 0.85);
    font-size: 3em;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		width: 90%;
}

header h2 {
		margin: 20px;
}

#developer-details {
		font-family: 'Comfortaa';
		font-weight: 300;
		font-size: 0.5em;
		color: white;
}

#container {
		display: flex;
		flex-flow: row wrap;
		align-content: center;
		align-items: center;
		justify-content: space-around;

		width: 80%;
		top: 20px;
}

#sidebar {
		min-height: 300px;
		width: 15%;

		border: .2em solid orange;
		border-radius: 1em;
		background: gray;
		color: #fff;
}

canvas {
    background: black;
    border: 1px solid black;
    border-radius: 1em;
}

h3 {
    position: absolute;
    width: 80%;
    height: 70px;
    border: .3em solid orange;
    box-sizing: border-box;
    border-radius: 1em;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.6);
}

#mainscreen {
    position: relative;
}

#prompt {
    position: absolute;

    display: flex;
    flex-flow: column;
    align-items: center;

    width: 300px;
    height: 100px;
    border: .2em solid orange;
    border-radius: 1em;
    background: gray;
    color: #fff;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?cahfeu');
	src:url('../fonts/icomoon.eot?#iefixcahfeu') format('embedded-opentype'),
		url('../fonts/icomoon.woff?cahfeu') format('woff'),
		url('../fonts/icomoon.ttf?cahfeu') format('truetype'),
		url('../fonts/icomoon.svg?cahfeu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-handlogo:before {
	content: '\e617';
}
.icon-location:before {
	content: '\e600';
}
.icon-screen:before {
	content: '\e609';
}
.icon-mobile:before {
	content: '\e60a';
}
.icon-tablet:before {
	content: '\e601';
}
.icon-mail:before {
	content: '\e611';
}
.icon-github:before {
	content: '\e603';
}
.icon-linkedin:before {
	content: '\e604';
}
.icon-mobile2:before {
	content: '\e605';
}
.icon-location2:before {
	content: '\e607';
}
.icon-github2:before {
	content: '\e608';
}
.icon-github3:before {
	content: '\e60b';
}
.icon-linkedin2:before {
	content: '\e614';
}
.icon-linkedin3:before {
	content: '\e616';
}

